In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_excel('bike_train.xlsx')
test = pd.read_excel('bike_test.xlsx')

In [3]:
train

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,11995,2012-05-19,2,1,5,23,0,6,0,1,0.60,0.6212,0.56,0.1642,71,168,239
11995,11996,2012-05-20,2,1,5,0,0,0,0,1,0.58,0.5455,0.53,0.1045,42,128,170
11996,11997,2012-05-20,2,1,5,1,0,0,0,1,0.56,0.5303,0.52,0.0000,28,102,130
11997,11998,2012-05-20,2,1,5,2,0,0,0,1,0.56,0.5303,0.52,0.0000,36,62,98
11998,11999,2012-05-20,2,1,5,3,0,0,0,1,0.54,0.5152,0.56,0.0896,26,40,66

In [4]:
test

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,12000,2012-05-20,2,1,5,4,0,0,0,1,0.52,0.5000,0.68,0.0896
1,12001,2012-05-20,2,1,5,5,0,0,0,1,0.50,0.4848,0.72,0.1045
2,12002,2012-05-20,2,1,5,6,0,0,0,1,0.50,0.4848,0.63,0.1343
3,12003,2012-05-20,2,1,5,7,0,0,0,1,0.52,0.5000,0.68,0.1940
4,12004,2012-05-20,2,1,5,8,0,0,0,1,0.56,0.5303,0.56,0.1642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5375,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
5376,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
5377,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
5378,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
5379,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [5]:
sns.set_style('darkgrid')

In [6]:
y=train['cnt']

In [7]:
x=train[['mnth','hr','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed']]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [35]:
reg = LinearRegression()

In [36]:
reg.fit(X_train, y_train)

LinearRegression()

In [37]:
y_pred=reg.predict(X_test)

In [47]:
mean_squared_error(y_test,y_pred, squared=False)

123.11261081627644

In [39]:
r2_score(y_test, y_pred)

0.303015882582254

In [40]:
y_pred

array([179.1431655 , 157.78483155, 236.86997144, ..., 242.38465293,
        48.6511101 , 174.9718232 ])

In [41]:
df = pd.DataFrame(y_pred)

In [42]:
X_test['pred0'] = df[0]

In [43]:
X_test

,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,pred0
11046,4,10,0,2,1,1,0.46,0.4545,0.47,0.1642,NaN
10042,2,11,0,2,1,1,0.34,0.3182,0.36,0.2537,NaN
10245,3,23,0,3,1,1,0.44,0.4394,0.62,0.3284,NaN
7174,10,13,0,1,1,2,0.44,0.4394,0.44,0.2239,NaN
3961,6,23,0,6,0,2,0.72,0.6818,0.62,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
109,1,18,0,3,1,1,0.24,0.2424,0.38,0.1343,100.45515
8864,1,5,0,2,1,1,0.40,0.4091,0.47,0.2239,NaN
7370,11,17,0,2,1,1,0.52,0.5000,0.43,0.1642,NaN
8747,1,7,0,4,1,2,0.20,0.2273,0.69,0.0896,NaN
4107,6,1,0,6,0,1,0.66,0.6212,0.50,0.1642,NaN

In [44]:
df.columns = ['pred']

In [45]:
df['pred'] = round(df['pred'], 2)

In [46]:
df.to_csv('GonzaloPosse.csv')